html {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    padding:1rem;
}

#page-header {
    display: flex;
    vertical-align: bottom;
    line-height: 2rem;
}
#page-header > * {
    margin: 0;
    vertical-align: baseline;
}
#page-header .links {
    flex-grow: 1;
    text-align: right;
}
#page-header .links a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    padding: 0.2rem 1rem;
    margin: 0.2rem;
    background: #eee;
    border-radius: 0.2rem;
    color: black;
}

.item .title a {
    text-decoration: none;
}

.image img, .image svg {
    width: 15rem;
    height: 15rem;
    margin-right: 1rem;
    object-fit: cover;
}

#items {
    list-style: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}
#items > .item {
    flex: 0 0 100%;
    background: #eee;
    margin: 0.5rem;
}
@media screen and (min-width: 30rem) {
    #items > .item {
        flex-basis: 30rem;
    }
}
#item-gallery.searching .item:not(.search-hit) {
    display: none;
}

.item .title {
    margin-top: 0;
    height: 2.4em;
    font-size: 1.5rem;
}
.item .content a {
    word-break: break-all;
}

.clearfix:after {
    content:"";
    display:block;
    clear:both;
}

.item header {
    background: #ddd;
}

.item .author {
    height: 1.2em;
    font-size: 1rem;
}

.item header, .item .content {
    padding: 0.5rem;
}
.item main {
    display: flex;
}
.item main > * {
    flex-grow: 1;
}
.item .image {
    float: left;
    margin: 0rem 1rem 1rem 0;
}

footer {
    font-style: italic;
    margin-top: 5rem;
    padding: 1rem;
}
#search {
    text-align: center;
    font-weight: bold;
}

main > section ~ section {
    margin-top: 3rem;
}
.item header p {
    margin: 0;
}

.item .author.none {
    font-style: italic;
}