.card-img-top img, .card-img-top svg {
    width: 100%;
    max-height: 10rem;
    object-fit: cover;
}
.item a {
    word-break: break-all;
}
#item-gallery.searching .item:not(.search-hit) {
    display: none;
}
