.card-img-top img, .card-img-top svg {
    width: 100%;
    max-height: 10rem;
    object-fit: cover;
}
.item a {
    word-break: break-all;
}
#item-gallery.searching .item:not(.search-hit) {
    display: none;
}
.item .card-title p {
    margin: 0;
}
body > footer {
    margin-top: 5rem;
}
li > p {
    margin: 0;
}
.icon {
    margin: 0 0.25rem;
}
.item-page .intro {
    margin-bottom: 3rem;
}
main {
    margin-top: 2rem;
}
